build/
.vs/
Debug.win32/
Release/
CMakeFiles/
CMakeCache.txt

# Auto generatoed with cmake.
.cocos-project.json
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
ALL_BUILD.vcxproj.user
CMakeCache.txt
CMakeFiles/
Debug/
FifteenPuzzle.dir/
FifteenPuzzle.sln
FifteenPuzzle.vcxproj
FifteenPuzzle.vcxproj.filters
FifteenPuzzle.vcxproj.user
INSTALL.vcxproj
INSTALL.vcxproj.filters
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
_deps/
bin/
cmake_install.cmake
engine/
lib/
unit_tests.dir/
unit_tests.vcxproj
unit_tests.vcxproj.filters
unit_tests.vcxproj.user
win32/
